hazelcast:
  home: /opt/
  version: '3.8.2'
  pkg_url: http://download.hazelcast.com/download.jsp?version=hazelcast-3.8.2&type=tar&p=
  name: 'hazelcast'
  password: NQmdgfeYYq1FfSQWR6
  management_url: 'http://localhost:8080/mancenter'
  port: 5701
  lookup: {master: hazelcast-master}
  
supervisor:
  programs:
    hazelcast:
      autorestart: 'true'
      autostart: 'true'
      redirect_stderr: 'true'
      startsecs: '5'
      stdout_logfile_maxbytes: '25MB'
      stderr_logfile_maxbytes: '25MB'
      stdout_logfile_backups: '5'
      command:  ./start.sh
      user: 'nobody'
      startretries: '10'
      directory: "{{ salt['pillar.get']('hazelcast.home') }}/hazelcast-{{ salt['pillar.get']('hazelcast.version') }}/bin"
      stdout_logfile: '/var/log/hazelcast.log'
      environment: ''  
